<div class="links">
    <div class="link">
        <h2>GitHub</h2>
        <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">{{ site.github_username }}</a>
    </div>

    <div class="link">
        <h2>Email</h2>
        <a href="mailto:{{ site.emil }}">{{ site.email }}</a>
    </div>

    <div class="link">
        <h2>Resume</h2>
        <a href="{{ site.baseurl }}/{{ site.resume }}" download>Download</a>
        <a href="{{ site.baseurl }}/{{ site.resume }}" target="_blank">View</a>
    </div>
</div>