@charset "utf-8";
html {
    background-color: snow;
}

#profile {
    width: 130px;
    height: 130px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Screens 450px wide and smaller */
@media only screen and (max-width: 450px) {
    .body {
        max-width: 450px;
        margin: 20px;
    }
    .links {
        flex-direction: column;
        gap: 30px;
    }
}

/* Screens 451px wide and larger */
@media only screen and (min-width: 451px) {
    .body {
        max-width: 451px;
        margin: 40px;
    }
}