@charset "utf-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        text-align: center;
}

.first {
    color: Black;
}

.last {
    color: SlateGray;
}

a {
    font-weight: 600;
}

a:link {
    color: SlateGray;
}

a:visited {
    color: SlateGray;
}

a:hover {
    color: SteelBlue;
}

a:active {
    color: RoyalBlue;
}
