@charset "utf-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.first {
    color: Black;
}

.last {
    color: SlateGray;
}

a {
    font-weight: 600;
}

a:link {
    color: SlateGray;
}

a:visited {
    color: SlateGray;
}

a:hover {
    color: SteelBlue;
}

a:active {
    color: RoyalBlue;
}

/* Screens 450px wide and smaller */
@media only screen and (max-width: 450px) {
    .body {
        text-align: center;
    }
}

/* Screens 451px wide and larger */
@media only screen and (min-width: 451px) {
    .body {
        text-align: left;
    }
}

